.off-black {
  color: #121212;
}

.highlight {
    background-color: #B2D7FF;
}


.add-comma::after {
    content: ",";
}

.add-arrow::after {
    content: " ↗";
}

.add-paranthese:after {
  content: " / ";
  color: #838383;
}

.list li:last-child::after {
    content: "";
}


/*Blinking Cursor*/

.blinking-cursor {
  font-weight: normal;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.pagination {
  display: none;
}

/* Masrony Grid */

/* reveal grid after images loaded */
.grid.are-images-unloaded {
  opacity: 0;
}

.grid__item,
.grid__col-sizer {
  width: 32%;
}




@media screen and (max-width: 768px) {
  /* 5 columns for larger screens */
  .grid__item,
  .grid__col-sizer { width: 49%; }
}

@media screen and (max-width: 420px) {
  /* 5 columns for larger screens */
  .grid__item,
  .grid__col-sizer { width: 100%; }
}


.grid__gutter-sizer { width: 2%; }

/* hide by default */
.grid.are-images-unloaded .image-grid__item {
  opacity: 0;
}

.grid__item {
  margin-bottom: 20px;
  float: left;
}

.grid__item--height1 { height: 140px; background: #EA0; }
.grid__item--height2 { height: 220px; background: #C25; }
.grid__item--height3 { height: 300px; background: #19F; }

.grid__item--width2 { width: 66%; }

.grid__item img {
  display: block;
  max-width: 100%;
}


.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.bb-ignore-last:last-child {
  border-width: 0px;

}
