.off-black {
  color: #121212;
}

.highlight {
    background-color: #B2D7FF;
}


.add-comma::after {
    content: ",";
}

.add-arrow::after {
    content: " ↗";
}

.list li:last-child::after {
    content: "";
}


/*Blinking Cursor*/

.blinking-cursor {
  font-weight: normal;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/*Masrony Grid*/

#block-contain {
	display: flex;
	flex-wrap: wrap;
  max-width:100%;
}

.block {
  flex: 1 0 auto;
  overflow:hidden;
}
