<footer>
  <div class="w-100 h-auto ph4 pv5 flex-l flex-column-s">
      <div class="w-25-l w0 p0 pv0-l pv3">
          <div class="sans-serif normal moon-gray f6 lh-copy v-base">© Sam Anderson 2018 </div>
      </div>
      <div class="w-75-l w-100 p0">
      <ul class="list pl0 sans-serif dib f6 lh-copy mv0 off-black">
        <li class="dib mr3 lh-copy"><a class="dim off-black" href="#">Email</a></li>
        <li class="dib mr3 lh-copy"><a class="dim off-black" href="#">Twitter</a></li>
        <li class="dib mr3 lh-copy"><a class="dim off-black" href="#">Instagram</a></li>
        <li class="dib mr3 lh-copy"><a class="dim off-black" href="#">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>
