<header>
  <nav class="flex w-auto border-box ph3 pv3 ph4-l sans-serif justify-between bb b--black-20">
      <a class="link off-black f5 dib mr3 items-start" href="/" title="Home">
          Sam Anderson
      </a>
      <div class="db dtc-l v-mid w-auto tr">
          <a class="link dim off-black f6 dib mr3" href="/writing" title="Work">Work</a>
          <a class="link dim off-black f6 dib mr3" href="/archive" title="Work">Archive</a>
          <!-- <a class="link dim off-black f6 dib mr3" href="#" title="About">About</a> -->
      </div>
  </nav>
  <div class="w-100 h-auto ph4 pv6 flex">
    <div class="w100">
        <h1 class="sans-serif f1 f-headline-l lh-title normal">
          <span class="highlight">{{ page.highlight }}</span><span>{{ page.text }}</span>
          <span class="blinking-cursor sans-serif f1 f-headline-l lh-title normal">|</span>
        </h1>
    </div>
  </div>
</header>
