<header>
  <nav class="flex w-auto border-box ph3 ph4-l pv3 sans-serif justify-between bb b--black-20">
      <a class="link off-black f5 dib mr3 items-start" href="/" title="Home">
          {{ site.title }}
      </a>
      <div class="db dtc-l v-mid w-auto tr">
          <a class="link dim off-black f6 dib mr3" href="/writing" title="Work">Work</a>
          <a class="link dim off-black f6 dib mr3" href="/archive" title="Work">Archive</a>
          <!-- <a class="link dim off-black f6 dib mr3" href="#" title="About">About</a> -->
      </div>
  </nav>
</header>
