<div class="w-100 pb4 flex justify-end">
  <a class="link near-black hover-silver dib mh3 tc" href="/writing" title="Grid View" onclick="yourFunction(); return false">
    <svg class="inactive{% if page.url == "/writing/" %} active" {% endif %}" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="grid" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M0,0 L8,0 L8,8 L0,8 L0,0 Z M0,10 L8,10 L8,18 L0,18 L0,10 Z M10,0 L18,0 L18,8 L10,8 L10,0 Z M10,10 L18,10 L18,18 L10,18 L10,10 Z" id="Combined-Shape" fill="#4A4A4A"></path>
        </g>
    </svg>
    </a>
  <a class="link near-black hover-silver dib mh3 tc" href="#list" title="List View">
  <svg class="inactive {% if page.url == "/writing#list" %} active" {% endif %}" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="list" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M0,0 L18,0 L18,2 L0,2 L0,0 Z M0,5.33333333 L14,5.33333333 L14,7.33333333 L0,7.33333333 L0,5.33333333 Z M0,10.6666667 L8,10.6666667 L8,12.6666667 L0,12.6666667 L0,10.6666667 Z M0,16 L5,16 L5,18 L0,18 L0,16 Z" id="Combined-Shape" fill="#4A4A4A"></path>
      </g>
  </svg>
      </a>
</div>
