---
layout: default
---

{% include hero.html %}
<div class="bg-near-white">
  <div class="w-100 h-auto ph4 pv5 flex-l flex-column-s">
      <div class="w-20-l w0">
          <h4 class="sans-serif normal gray f5 lh-copy v-base">Publications</h3>
      </div>
      <div class="w-80-l w-100">
      <ul class="list pl0 sans-serif dib f2 mv0 off-black">
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Dujour Magazine</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">New York Magazine</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">V Magazine</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Vogue</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Vulture</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Architectural Digest</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Mental Floss</a></li>
      </ul>
    </div>
  </div>
  <div class="w-100 h-auto ph4 pv5 flex-l flex-column-s">
      <div class="w-20-l w0">
          <h4 class="sans-serif normal gray f5 lh-copy v-base">Recent Work</h3>
      </div>
      <div class="w-80-l w100">
      <ul class="list pl0 sans-serif dib f2 mv0 off-black">
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">13 Health And Wellness Fanatics On What They Want For The Holidays</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Inside Art Basel Miami Beach</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Behind The Exhibit: Being Modern – Moma In Paris</a></li>
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="#">Our Top Cinematic Women</a></li>
      </ul>
    </div>
  </div>
</div>
