---
layout: default
---

{% include hero.html %}
<div class="bg-near-white">
  <div class="w-100 h-auto ph3 ph4-l pv5 flex-l flex-column-s">
      <div class="w-25-l w0">
          <h4 class="sans-serif normal gray f5 lh-copy v-base mv0">Publications</h3>
      </div>
      <div class="w-75-l w-100">
      {% assign publications = site.posts | map: 'categories' | uniq | sort %}
      <ul class="list pl0 sans-serif dib f3 mv0 off-black">
        {% for name in publications limit:10 %}
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="/archive#{{name | remove: " " | downcase }}">{{name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="w-100 h-auto ph4 pv5 flex-l flex-column-s">
      <div class="w-25-l w0">
          <h4 class="sans-serif normal gray f5 lh-copy mv0">Recent Work</h3>
      </div>
      <div class="w-75-l w100">
      {% assign latest = site.posts | sort:"date" %}
      <ul class="list pl0 sans-serif dib f3 mv0 off-black">
        {% for article in latest limit:4 %}
        <li class="dib mr3 lh-copy add-comma"><a class="dim off-black" href="{{article.source}}">{{article.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
