---
layout: default
---
{% include subhero.html %}
<div class="bg-near-white pa4">
  <div class="grid">
    {% for article in paginator.posts %}
      {% include grid-block.html %}
    {% endfor %}
  </div>

  <div class="pagination">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pagination__next">Next</a>
      {% endif %}
  </div>
  <div class="scroller-status">
    <div class="infinite-scroll-request loader-ellips">
      <div class="typing">
          <span></span>
          <span></span>
          <span></span>
      </div>
    </div>
  </div>
</div>
